.Games {
  box-shadow: hsla(216, 100%, 50%, 0.7) 2px 2px 2px 2px;
  border-radius: 30px;
  background-color: hsla(0, 0%, 0%, 0.7);
  margin-top: 4rem;
  margin-right: 5rem;
  margin-left: 6rem;
  margin-bottom: 2rem;
  height: 50vh;
  width: 90vw;
  position: relative;
  right: 2rem;
  color: white;
}
.league {
  text-align: center;
  font-size: 6rem;
}
.season {
  text-align: center;
}
.squads {
  position: relative;
  right: 20rem;
  display: block;
  width: 75%;
  margin-top: 2rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
}

.squadsTwo {
  position: relative;
  left: 20rem;
  bottom: 7rem;
  display: block;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.status {
  text-align: center;
  position: relative;
  top: 1rem;
}
.teamNames {
  font-size: 3.5rem;
  font-weight: bolder;
}
.teamScores {
  font-size: 2.5rem;
}
.teamScores2 {
  font-size: 2rem;
}