.Error {
  width: 25rem;
  height: 15rem;
  box-shadow: inset, black white;
  background-color: rgba(48, 48, 48, 0.9);
  border-radius: $radius;
}
.FoOrFo {
  color: white;
  text-align: center;
  font-size: 3rem;
}
